<!DOCTYPE html>
<html>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
      </style>
        </head>
    <body>
        {% extends "layout.html" %}
        {% block content %}
        <h2>Players</h2>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <h1>{{ message }}</h1>
          {% endfor %}
        {% endif %}
        {% endwith %}
        {% if cur_amount > 0 %}
          <table>
              <tr>
                  <th style="width: 70px;">Player ID</th>
                  <th>Player Username</th>
                  <th>Player Games</th>
                  <th>Action</th>
              </tr>
              {% for row in data %}
              <tr>
                  <td>{{ row[0] }}</td>
                  <td>{{ row[1] }}</td>
                  <td>{{ row[2] }}</td>
                  <td><button><a href="{{url_for('track_achiev', user_id=row[0])}}">Add Achiev</a></button><button><a href="{{url_for('view_achievs', user_id=row[0])}}">View Achievs</a></button><button><a href="{{url_for('delete_user_route', user_id=row[0])}}">Delete Plr</a></button></td>
              </tr>
              {% endfor %}
          </table>
        {% else %}
          <h2>No Players Yet</h2>
        {% endif %}
        {% endblock %}
    </body>
</html>